<!DOCTYPE html>
<html lang="en" xmlns:th="http//www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>signIn</title>
</head>
<body>
<form th:action="@{/signIn}" method="post">
    <div class="mb-3">
        <label for="email" class="form-label">이메일</label>
        <input type="text" class="form-control" id="email" name="email" placeholder="사용자 이메일를 입력하세요." required autocomplete="off">
    </div>
    <div class="mb-3">
        <label for="pwd" class="form-label">비밀번호</label>
        <input type="password" class="form-control" id="pwd" name="pwd" placeholder="사용자 비밀번호를 입력하세요." required autocomplete="off">
    </div>
    <div class="d-grid gap-2">
        <button type="submit" class="btn btn-dark">요청</button>
    </div>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-3">
        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#modal-signUp">회원가입</button>
        <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#modal-findPwd">비밀번호 찾기</button>
        <a href="/" class="btn btn-warning">취소</a>
    </div>
</form>
</body>
</html>